name: Deploy vandan Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      PORT: ${{ secrets.PORT }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      DATAWRAPPER_API_TOKEN: ${{ secrets.DATAWRAPPER_API_TOKEN }}
      DATAWRAPPER_CHART_ID: ${{ secrets.DATAWRAPPER_CHART_ID }}
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          path: vandan-backend

      - name: Install Dependencies
        run: |
          cd /home/ubuntu/vandan-backend
          npm install

      - name: Prisma Generate
        run: |
          cd /home/ubuntu/vandan-backend
          npm run generate

      - name: Build TypeScript
        run: |
          cd /home/ubuntu/vandan-backend
          npm run build

      - name: Stop Existing PM2 Process
        run: pm2 stop vandan_backend || true

      - name: Start Backend with PM2
        run: |
          cd /home/ubuntu/vandan-backend
          pm2 start dist/index.js --name vandan_backend --update-env --env production

      - name: Save PM2 Process List
        run: pm2 save
