name: Deploy vandan Backend

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: docker build -t proplerer19/vandan_backend:latest .

      - name: Push Docker Image to Docker Hub
        run: docker push proplerer19/vandan_backend:latest

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Pull Image from Docker Hub
        run: docker pull proplerer19/vandan_backend:latest

      - name: Remove Old Container
        run: docker rm -f vandan_backend-container || true

      - name: Run New Container
        run: |
          docker run -d -p 6000:6000 \
            --name vandan_backend-container \
            -e DATABASE_URL="mysql://dbUserNameIndia:dblive123!@database-rds-live.cf82gy88waww.ap-south-1.rds.amazonaws.com/Ranneeti_dev_db" \
            -e PORT=6000 \
            -e JWT_SECRET="manishS" \
            -e DATAWRAPPER_API_TOKEN="AzTCKj1XvndOqr665d3gNKPIqD9ZfbXb9HOm0BAtGbvvK1vxWnyedyYgqax9exqM" \
            -e DATAWRAPPER_CHART_ID="fGzC6" \
            proplerer19/vandan_backend:latest
